.main {
    margin: auto;
    /* max-width: 500px; */
    font-family: sans-serif;
    /* background-image: url("../images/greecebg2.jpg"); */
    /* width: 100%; */
    height: 150rem;

    margin-top: 20rem;
    /* border: 5px solid black; */
}

.title-card {
    /* padding-top: 5rem; */
    margin: auto;
    margin-left: 10rem;
    margin-right: 10rem;
    

    display: flex;
    width: auto;
    height: fit-content;

    /* border: 5px solid black; */
    /* vertical-align: middle; */
    /* align-items:flex-start; */
    /* text-align: left; */
    
}

.title-card-box {
    margin: auto;
    margin-left: 10rem;
    margin-right: 10rem;
    /* margin-top: 5rem; */

    display: flex;
    width: auto;
    height: fit-content;

    /* border: 5px solid black; */
}

.head {
    /* margin:auto; */
    font-style: italic;
    font-size: 3rem;
    font-weight: bold;
    font-family: New Century Schoolbook, TeX Gyre Schola, serif ;
    /* remove bottom margin */
    margin-block-end: 0;
}

.paragraph {
    /* margin: auto; */
    font-size: 2rem;
    font-weight: bold;
    font-family: New Century Schoolbook, TeX Gyre Schola, serif ;
    
    /* remove top margin */
    margin-block-start: 0;
    margin-block-end: 0;
}

.socialList {
    display: flex;
    justify-content: flex-start;
    list-style: none;
    padding: 0;
}

.socialList-item {
    margin-right: 3rem;
} 

/* .fade-in {
    animation: fadeIn ease 2s;
    -webkit-animation: fadeIn ease 2s;
    -moz-animation: fadeIn ease 2s;
    -o-animation: fadeIn ease 2s;
    -ms-animation: fadeIn ease 2s;
  }
  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  } */
